/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 6%;
}
nav div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-icon {
  height: 30px;
}
nav button {
  background-color: #2e4df6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
nav button:hover {
  background-color: crimson;
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: pink;
}
.blue-color {
  color: #2e4df6;
}